name: Update LOC Badge

on:

  push:
    branches: ["main", "master"]

  schedule:
    - cron: '0 0 * * *'

  workflow_dispatch:

jobs:
  update-badge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4


      - name: Install and Run cloc
        id: loc
        run: |
          sudo apt-get install -y cloc
          # 统计行数，排除 node_modules 等垃圾文件
          # sum-one 是总行数，这里用 awk 提取
          LINES=$(cloc . --exclude-dir=node_modules,dist,build,venv --json | jq '.SUM.code')
          
          echo "Current Lines: $LINES"
          echo "LINES=$LINES" >> $GITHUB_ENV
          
          # 2. 根据行数决定颜色 (这是炫耀的关键！)
          # 小于1千行是绿色，小于1万行是蓝色，大于1万行是橙色，大于5万行是红色（大佬色）
          if (( $LINES < 1000 )); then
            echo "COLOR=green" >> $GITHUB_ENV
          elif (( $LINES < 10000 )); then
            echo "COLOR=blue" >> $GITHUB_ENV
          elif (( $LINES < 50000 )); then
            echo "COLOR=orange" >> $GITHUB_ENV
          else
            echo "COLOR=red" >> $GITHUB_ENV
          fi


      - name: Update Dynamic Badge
        uses: schneegans/dynamic-badges-action@v1.7.0
        with:
          auth: ${{ secrets.GIST_SECRET }}
          gistID: 65b61a32eaccf5de9624892da2ddd0d8
          filename: gistfile1.txt      
          label: Code Volume       
          message: ${{ env.LINES }}
          color: ${{ env.COLOR }}
          namedLogo: visualstudiocode 