name: Draft PDF

on:
  push:
    paths:
      - 'paper/**' # ✅ 只有 paper 文件夹内的变化才会触发 Push
  pull_request:
    paths:
      - 'paper/**' # ✅ 只有 paper 文件夹内的变化才会触发 PR 检查

jobs:
  paper:
    runs-on: ubuntu-latest
    name: Paper Draft
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build draft PDF
        uses: openjournals/openjournals-draft-action@master
        with:
          journal: joss
          # ✅ 输入路径保持不变
          paper-path: paper/paper.md

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: paper
          # ✅ 输出路径保持不变
          path: paper/paper.pdf