name: Draft PDF
on: [push, pull_request]

jobs:
  paper:
    runs-on: ubuntu-latest
    name: Paper Draft
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build draft PDF
        uses: openjournals/openjournals-draft-action@master
        with:
          journal: joss
          # ✅ 输入路径：指向子文件夹
          paper-path: paper/paper.md

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: paper
          # ✅ 修正点：上传路径也要改成子文件夹
          path: paper/paper.pdf
